# Compilados
target/
bin/
build/
out/

# Arquivos de log
*.log

# Configs temporárias
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Plugins IntelliJ
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Eclipse
.project
.classpath
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*.swo

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Configurações sensíveis
src/main/resources/application.yml

docker-compose.yml
